# Разведочный анализ данных с Pandas
### Exploratory data analysis with Pandas


Уникальные значения всех фич:

<b>age:</b> continuous.
<br><b>workclass:</b> Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
<br><b>fnlwgt:</b> continuous.
<br><b>education:</b> Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
<br><b>education-num:</b> continuous.
<br><b>marital-status:</b> Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
<br><b>occupation:</b> Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
<br><b>relationship:</b> Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
<br><b>race:</b> White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
<br><b>sex:</b> Female, Male.
<br><b>capital-gain:</b> continuous.
<br><b>capital-loss:</b> continuous.
<br><b>hours-per-week:</b> continuous.
<br><b>native-country:</b> United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.
<br><b>salary:</b>>50K,<=50K

In [1]:
import numpy as np
import pandas as pd
pd.set_option('display.max.columns', 100)

%matplotlib inline 
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

In [2]:
data = pd.read_csv('adult.data.txt')
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

#### 1. Как много мужчин и женщин представлено в этом наборе данных?

In [3]:
data['sex'].value_counts()

 Male      21790
 Female    10771
Name: sex, dtype: int64

#### 2. Какой средний возраст женщин?

In [4]:
data.loc[data['sex'] == ' Female', 'age'].mean()

36.85823043357163

#### 3. Какой процент жителей Германии?

In [5]:
(float((data['native-country'] == ' Germany').sum()) / data.shape[0])*100

0.42074874850281013

#### 4,5. Среднее значение и стандартное отклонение в возрасте для тех, кто зарабатывает больше 50. тыс в год и тех, кто получает меньше 50 тысяч в год?

##### Зарплата больше 50 тысяч в год
Среднее значение

In [6]:
data.loc[data['salary'] == ' >50K', 'age'].mean()

44.24984058155847

Стандартное отклонение

In [7]:
data.loc[data['salary'] == ' >50K', 'age'].std()

10.519027719851826

##### Зарплата 50 тысяч и меньше

Среднее значение

In [8]:
data.loc[data['salary'] == ' <=50K', 'age'].mean()

36.78373786407767

Стандартное отклонение

In [9]:
data.loc[data['salary'] == ' <=50K', 'age'].std()

14.02008849082488

#### 6. Правда ли что люди которые получают больше 50 тысяч имеют хотя бы школьное образование?

In [10]:
HighSC = {' Bachelors', ' Prof-school', ' Assoc-acdm', ' Assoc-voc', ' Masters', ' Doctorate'}

In [11]:
for i in data.loc[data['salary'] == ' <=50K', 'education'].unique():
    if i not in HighSC:
        print('Не правда')
        break

Не правда

#### 7. Отобразите статистику вораста для каждой расы и каждого пола. Используйте groupby() и describe(). Найдите максимальный возраст мужчин Американской-инди-эскимосской расы.

In [12]:
for (race, sex), sub in data.groupby(['race', 'sex']):
    print(f"Race: {race}, sex: {sex}") 
    print(sub['age'].describe())

Race:  Amer-Indian-Eskimo, sex:  Female
count    119.000000
mean      37.117647
std       13.114991
min       17.000000
25%       27.000000
50%       36.000000
75%       46.000000
max       80.000000
Name: age, dtype: float64
Race:  Amer-Indian-Eskimo, sex:  Male
count    192.000000
mean      37.208333
std       12.049563
min       17.000000
25%       28.000000
50%       35.000000
75%       45.000000
max       82.000000
Name: age, dtype: float64
Race:  Asian-Pac-Islander, sex:  Female
count    346.000000
mean      35.089595
std       12.300845
min       17.000000
25%       25.000000
50%       33.000000
75%       43.750000
max       75.000000
Name: age, dtype: float64
Race:  Asian-Pac-Islander, sex:  Male
count    693.000000
mean      39.073593
std       12.883944
min       18.000000
25%       29.000000
50%       37.000000
75%       46.000000
max       90.000000
Name: age, dtype: float64
Race:  Black, sex:  Female
count    1555.000000
mean       37.854019
std        12.637197
min        17.000000
25%        28.000000
50%        37.000000
75%        46.000000
max        90.000000
Name: age, dtype: float64
Race:  Black, sex:  Male
count    1569.000000
mean       37.682600
std        12.882612
min        17.000000
25%        27.000000
50%        36.000000
75%        46.000000
max        90.000000
Name: age, dtype: float64
Race:  Other, sex:  Female
count    109.000000
mean      31.678899
std       11.631599
min       17.000000
25%       23.000000
50%       29.000000
75%       39.000000
max       74.000000
Name: age, dtype: float64
Race:  Other, sex:  Male
count    162.000000
mean      34.654321
std       11.355531
min       17.000000
25%       26.000000
50%       32.000000
75%       42.000000
max       77.000000
Name: age, dtype: float64
Race:  White, sex:  Female
count    8642.000000
mean       36.811618
std        14.329093
min        17.000000
25%        25.000000
50%        35.000000
75%        46.000000
max        90.000000
Name: age, dtype: float64
Race:  White, sex:  Male
count    19174.000000
mean        39.652498
std         13.436029
min         17.000000
25%         29.000000
50%         38.000000
75%         49.000000
max         90.000000
Name: age, dtype: float64

Определим самый большой возраст среди мужчин расы АмерканскоИндийскихЭскимо

In [13]:
cake=data.loc[data['race'] == ' Amer-Indian-Eskimo']
cake.loc[cake['sex'] == ' Male', 'age'].max()

82

#### 8. Доля каких мужчин больше среди тех, кто зарабатывает больше 50 тысяч, женатых или холостяков?

In [14]:
not_married_men = data.loc[(data['sex'] == ' Male') &
     (data['marital-status'].isin([' Never-married', 
                                   ' Separated', 
                                   ' Divorced',
                                   ' Widowed']))]

married_men = data.loc[(data['sex'] == ' Male') &
     (data['marital-status'].isin([' Married-civ-spouse',
                                   ' Married-spouse-absent',
                                   ' Married-AF-spouse']))]
print (f"Доля неженатых мужчин {(not_married_men['salary'] == ' >50K').sum()}")
print (f"Доля женатых мужчин {(married_men['salary'] == ' >50K').sum()}\n")

if ((not_married_men['salary'] == ' >50K').sum() > (married_men['salary'] == ' >50K').sum()):
       print('Доля неженатых мужчин больше')
elif ((married_men['salary'] == ' >50K').sum() > (not_married_men['salary'] == ' >50K').sum()):
       print('Доля женатых мужчин больше')
else:
       print('Доли женатых и неженатых мужчин равны')

Доля неженатых мужчин 697
Доля женатых мужчин 5965

Доля женатых мужчин больше

#### 9. Какое максимальное количество часов человек работает в неделю? Как много людей работают столько часов и каков процент тех кто зарабатывает больше 50 тысяч среди них?

In [15]:
maxxi = (data['hours-per-week']).max()
print (f"Максимальное количество часов в неделю: {maxxi}")

coun = data.loc[data['hours-per-week'] == 99]
countn = coun.shape[0]
print (f"Количество работающих :столько времени {countn}")

perc = float(coun.loc[data['salary'] == ' >50K'].shape[0]) / countn * 100
print (f"Процент тех, кто зарабатывает более 50 тысяч {perc}")

Максимальное количество часов в неделю: 99
Количество работающих :столько времени 85
Процент тех, кто зарабатывает более 50 тысяч 29.411764705882355

#### 10. Посчитаете среднее время работы в неделю для тех кто получает много и мало, для каждой страны. Какими они будут для Японии?

In [16]:
rich = data.loc[data['salary'] == ' >50K']
poor = data.loc[data['salary'] == ' <=50K']

print ("Среднее пооличество часов работы в неделю \n")
for country in data['native-country'].unique():
    print(country)
    print(f"Зарплата больше 50 тысяч: {rich.loc[rich['native-country'] == country, 'hours-per-week'].mean()}")
    print(f"Зарплата меньше 50 тысяч: {poor.loc[poor['native-country'] == country, 'hours-per-week'].mean()}\n")

Среднее пооличество часов работы в неделю

 United-States
Зарплата больше 50 тысяч: 45.50536884674383
Зарплата меньше 50 тысяч: 38.79912723305605

 Cuba
Зарплата больше 50 тысяч: 42.44
Зарплата меньше 50 тысяч: 37.98571428571429

 Jamaica
Зарплата больше 50 тысяч: 41.1
Зарплата меньше 50 тысяч: 38.23943661971831

 India
Зарплата больше 50 тысяч: 46.475
Зарплата меньше 50 тысяч: 38.233333333333334

 ?
Зарплата больше 50 тысяч: 45.54794520547945
Зарплата меньше 50 тысяч: 40.16475972540046

 Mexico
Зарплата больше 50 тысяч: 46.57575757575758
Зарплата меньше 50 тысяч: 40.00327868852459

 South
Зарплата больше 50 тысяч: 51.4375
Зарплата меньше 50 тысяч: 40.15625

 Puerto-Rico
Зарплата больше 50 тысяч: 39.416666666666664
Зарплата меньше 50 тысяч: 38.470588235294116

 Honduras
Зарплата больше 50 тысяч: 60.0
Зарплата меньше 50 тысяч: 34.333333333333336

 England
Зарплата больше 50 тысяч: 44.53333333333333
Зарплата меньше 50 тысяч: 40.483333333333334

 Canada
Зарплата больше 50 тысяч: 45.64102564102564
Зарплата меньше 50 тысяч: 37.91463414634146

 Germany
Зарплата больше 50 тысяч: 44.97727272727273
Зарплата меньше 50 тысяч: 39.13978494623656

 Iran
Зарплата больше 50 тысяч: 47.5
Зарплата меньше 50 тысяч: 41.44

 Philippines
Зарплата больше 50 тысяч: 43.032786885245905
Зарплата меньше 50 тысяч: 38.065693430656935

 Italy
Зарплата больше 50 тысяч: 45.4
Зарплата меньше 50 тысяч: 39.625

 Poland
Зарплата больше 50 тысяч: 39.0
Зарплата меньше 50 тысяч: 38.166666666666664

 Columbia
Зарплата больше 50 тысяч: 50.0
Зарплата меньше 50 тысяч: 38.68421052631579

 Cambodia
Зарплата больше 50 тысяч: 40.0
Зарплата меньше 50 тысяч: 41.416666666666664

 Thailand
Зарплата больше 50 тысяч: 58.333333333333336
Зарплата меньше 50 тысяч: 42.86666666666667

 Ecuador
Зарплата больше 50 тысяч: 48.75
Зарплата меньше 50 тысяч: 38.041666666666664

 Laos
Зарплата больше 50 тысяч: 40.0
Зарплата меньше 50 тысяч: 40.375

 Taiwan
Зарплата больше 50 тысяч: 46.8
Зарплата меньше 50 тысяч: 33.774193548387096

 Haiti
Зарплата больше 50 тысяч: 42.75
Зарплата меньше 50 тысяч: 36.325

 Portugal
Зарплата больше 50 тысяч: 41.5
Зарплата меньше 50 тысяч: 41.93939393939394

 Dominican-Republic
Зарплата больше 50 тысяч: 47.0
Зарплата меньше 50 тысяч: 42.338235294117645

 El-Salvador
Зарплата больше 50 тысяч: 45.0
Зарплата меньше 50 тысяч: 36.03092783505155

 France
Зарплата больше 50 тысяч: 50.75
Зарплата меньше 50 тысяч: 41.05882352941177

 Guatemala
Зарплата больше 50 тысяч: 36.666666666666664
Зарплата меньше 50 тысяч: 39.36065573770492

 China
Зарплата больше 50 тысяч: 38.9
Зарплата меньше 50 тысяч: 37.38181818181818

 Japan
Зарплата больше 50 тысяч: 47.958333333333336
Зарплата меньше 50 тысяч: 41.0

 Yugoslavia
Зарплата больше 50 тысяч: 49.5
Зарплата меньше 50 тысяч: 41.6

 Peru
Зарплата больше 50 тысяч: 40.0
Зарплата меньше 50 тысяч: 35.06896551724138

 Outlying-US(Guam-USVI-etc)
Зарплата больше 50 тысяч: nan
Зарплата меньше 50 тысяч: 41.857142857142854

 Scotland
Зарплата больше 50 тысяч: 46.666666666666664
Зарплата меньше 50 тысяч: 39.44444444444444

 Trinadad&Tobago
Зарплата больше 50 тысяч: 40.0
Зарплата меньше 50 тысяч: 37.05882352941177

 Greece
Зарплата больше 50 тысяч: 50.625
Зарплата меньше 50 тысяч: 41.80952380952381

 Nicaragua
Зарплата больше 50 тысяч: 37.5
Зарплата меньше 50 тысяч: 36.09375

 Vietnam
Зарплата больше 50 тысяч: 39.2
Зарплата меньше 50 тысяч: 37.193548387096776

 Hong
Зарплата больше 50 тысяч: 45.0
Зарплата меньше 50 тысяч: 39.142857142857146

 Ireland
Зарплата больше 50 тысяч: 48.0
Зарплата меньше 50 тысяч: 40.94736842105263

 Hungary
Зарплата больше 50 тысяч: 50.0
Зарплата меньше 50 тысяч: 31.3

 Holand-Netherlands
Зарплата больше 50 тысяч: nan
Зарплата меньше 50 тысяч: 40.0

In [17]:
print("Среднее количество часов для Японии")
print(f"Зарплата больше 50 тысяч: {rich.loc[rich['native-country'] == ' Japan', 'hours-per-week'].mean()}")
print(f"Зарплата меньше 50 тысяч: {poor.loc[poor['native-country'] == ' Japan', 'hours-per-week'].mean()}\n")

Среднее количество часов для Японии
Зарплата больше 50 тысяч: 47.958333333333336
Зарплата меньше 50 тысяч: 41.0